@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:400');
/* --------------------------------- global */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: Lato;
    color: #fff;
    background-color: #7da1bb;
    padding-bottom: 70px;
    max-width: 100%;
}

h1 {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    text-align: center;
}

h2{
    text-align: center;
}

h2,
h3,
p {
    font-family: Lato;
    letter-spacing: 4px;
}

.btn{
    margin-top: 20px;
}

/* --------------------------------- nav */

.navbar {
    background-color: #557a95;
}

.nav-link {
    font-size: 110%;
    color: #fff;
}

#logo {
padding-left: 20px;
font-size: 120%;
}

.navbar-nav {
    font-size: 110%;
    letter-spacing: 4px;
}

.nav-item {
    margin-right: 30px;
}

.navbar a {
    color: #fff;
}

/* --------------------------------- header */

#hero-image {
    width: auto;
    height: 350px;
    background: url("../../assets/images/heroHeader.png") repeat-x center center;
    opacity: 80%;
}

#hero-text{
    font-weight: bolder;
    text-shadow: 3px 3px #000;
}

#hero.outer {
    height: 350px;
    width: 100%;
}

#header-top {
    height: auto;
    display: inline-block;
    margin: 5px;
}

hr {
    width: 90%;
    margin: 5px auto;
    border: 1px solid #fff;
}

#header-bottom {
    background-color: #7da1bb;
    width: 100%;
    padding: 20px
}

#welcome {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    height: 100%;
}

#left-about {
    padding-top: 20px;
    float: left;
    color: #fff;
    display: flex;
    align-items: center;
}

#right-about {
    padding-top: 20px;
    float: right;
    text-align: center;
}

.left-about-heading {
    width: 100%;
    line-height: 20px;
    clear: both;
    text-align: center;
}

.right-about-heading {
    width: 100%;
    float: left;
    line-height: 20px;
    clear: both;
    text-align: center;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 0px;
    border-style: solid;
    border-color: #fff;
    border-width: 2px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-bg {
    background: url("../../assets/images/headerBottomCircle.png") no-repeat center;
    height: 100%;
    border-radius: 50%;
}

/* --------------------------------- gallery */

#gallery-section {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0px 20px 0px 20px;
}

@media(max-width: 425px) {
    #gallery-section {
        padding: 0px 10px 0px 10px;
    }
}

.card-container {
    padding-bottom: 10px;
}

.card {
    background-color: #557a95;
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
}

/* --------------------------------- contact form */
@media(min-width: 992px) {
    .contact-form {
        max-width: 60%;
    }
}
#contact {
    padding: 20px;
}
@media(max-width: 425px) {
    #contact {
        padding: 10px;
    }
}

.form-group{
    margin-bottom: 10px;
}
/* --------------------------------- footer */
footer {
    background-color: #557a95;
    color: #fff;
    text-align: center;
    min-height: 50px;
    width: 100%;
    padding: 10px;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin-top: 10px;
    padding-left: 5%;
    color: #fff;
}